<h1>GEAR Products</h1>
 <table class="table">
   <thead>
     <tr>
       <th>Pics</th>
       <th>Name</th>
       <!-- <th>Description</th> -->
       <th>Price</th>
       <th colspan="3"></th>
     </tr>
   </thead>

   <tbody>
     <% @gear.each do |product| %>
     <tr>
        <td><%= link_to(product) do %>
          <%= image_tag product.image_url %> <br>
        <% end %>
        <td><%= link_to(product) do %>
          <h3> <%= product.name %> </h3>
        <% end %>
       <!-- <%= product.description %> -->
        <td><h3>$<%= product.formatted_price %></h3></td>
       <!-- <%= link_to 'Show', product %></td> -->
       <!-- <td><%= link_to 'Edit', edit_product_path(product) %></td> -->
       <!-- <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
       <td><%= link_to 'Add To Cart', cart_items_path(cart_items: { product_id: product.id, quantity: 1}), method: :post %></td>
     </tr>
     <% end %>
   </tbody>
 </table>
