<h1>Products</h1>
<% if params[:search].present? && @products.empty? %>
  <h4>There are no products related to <%= params[:search] %>.</h4>
 <% elsif params[:search].present? %>
 <h4>Products</h4>
 <table class="table">
   <thead>
     <tr>
       <th>Pics</th>
       <th>Name</th>
       <th>Price</th>
       <th colspan="3"></th>
     </tr>
   </thead>

   <tbody>
     <% @products.each do |product| %>
     <tr>
       <td><%= link_to(product) do %>
       <%= image_tag product.image_url %> <br>
      <% end %>
      <td><%= link_to(product) do %>
      <h3> <%= product.name %> </h3>
     <% end %>
         <td><h3>$<%= product.formatted_price %></h3></td>
       <td><%= link_to 'Add To Cart', cart_items_path(cart_items: { product_id: product.id, quantity: 1}), method: :post %></td>
     </tr>
     <% end %>
   </tbody>
 </table>
<% end %>
<div id="men" class="banner">
    <%= link_to men_path do%>
     <%= image_tag '2.jpg' %>
     <% end %>
</div>
<div id="women" class="banner">
    <%= link_to women_path do%>
     <%= image_tag '1.jpg' %>
     <% end %>
</div>
<div id="gear" class="banner">
    <%= link_to gears_path do%>
     <%= image_tag '3.jpg' %>
     <% end %>
</div>
